@import "tailwindcss";

@theme {
  --color-bg-color: #1c2026;
  --color-sub-color: #353a44;
  --color-text-muted: #9ca3af;
  --color-accent: #ffc435;
  --color-text-accent: #eeeeee;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }

  select::-ms-expand {
    display: none;
  }
}
